@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&family=Outfit:wght@100..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: 'sora';
  src: url(./fonts/sora-3/Sora-Bold.ttf) format('truetype');
  font-weight: bold;
}

@font-face {
  font-family: 'sora';
  src: url(./fonts/sora-3/Sora-Light.ttf) format('truetype');
  font-weight: 400;
}
@font-face {
  font-family: 'sora';
  src: url(./fonts/sora-3/Sora-Bold.ttf) format('truetype');
  font-weight: 700;
}

.font-sora {
  font-family: 'sora', sans-serif;
}

@layer utilities {
  .circle {
    width: 90%;
    height: 60px;
    background: linear-gradient(to right, #5356e0, #6868ae);
    filter: blur(150px);
  }
}

.progress-circle-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.progress-circle-background,
.progress-circle-progress {
  fill: none;
  stroke-linecap: round;
}

.progress-circle-background {
  stroke: #5457dc66;
}

.progress-circle-progress {
  stroke: #5457dc;
  transition: stroke-dashoffset 0.5s ease-in-out;
}

.progress-circle-text {
  font-size: 14px;
  fill: #fff;

  font-family: Arial, sans-serif;
}
